.myBanner{
    background-image: url('https://i.ibb.co.com/qgfnvfh/bg-shadow.png'), linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    padding: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
height: 512px;

}